# feature はできたのでTargetを作成する
基準日付の終値から20営業日の間の最高値への変化率
https://japanexchangegroup.github.io/J-Quants-Tutorial/

In [1]:
import datetime
import numpy as np
import pandas as pd
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt
import time,sys,os
today = datetime.date.today()

prod = '1y'
dys = 365
dates = '2021-01-08'

last = today +datetime.timedelta(days=-dys)
last = pd.to_datetime(last)

os.makedirs('./csv/'+str(today),exist_ok = True)

In [2]:
"""TOPIX リストの読み込み"""
Core30 = pd.read_csv('./csv/JPX_data/TOPIX_Core30_20210608.csv')
data =pd.DataFrame(Core30) 

stocks = [str(s)+".T" for s in data.code]
#stocks.append("^N225")
tickers = yf.Tickers(" ".join(stocks))
stocks

['3382.T',
 '4063.T',
 '4452.T',
 '4502.T',
 '4503.T',
 '4568.T',
 '6098.T',
 '6367.T',
 '6501.T',
 '6594.T',
 '6758.T',
 '6861.T',
 '6954.T',
 '6981.T',
 '7203.T',
 '7267.T',
 '7741.T',
 '7974.T',
 '8001.T',
 '8031.T',
 '8058.T',
 '8306.T',
 '8316.T',
 '8411.T',
 '8766.T',
 '9022.T',
 '9432.T',
 '9433.T',
 '9984.T']

In [3]:
len(stocks)

29

In [4]:
closes= []

for i in range(len(tickers.tickers)):
    closes.append(tickers.tickers[i].history(period = prod).Close)

closes = pd.DataFrame(closes).T.ffill()
closes.columns = stocks
print(closes)

                 3382.T        4063.T       4452.T       4502.T       4503.T  \
Date
2020-06-17  3626.668213  12315.406250  8496.340820  3826.471680  1736.043823
2020-06-18  3572.102783  12192.301758  8458.332031  3817.864502  1714.099487
2020-06-19  3613.027100  12216.923828  8409.604492  3848.468506  1726.778442
2020-06-22  3613.027100  12157.832031  8430.070312  3855.163086  1754.574585
2020-06-23  3553.589355  12079.044922  8411.553711  3833.166260  1794.562134
...                 ...           ...          ...          ...          ...
2021-06-11  4899.000000  18470.000000  6869.000000  3779.000000  1928.500000
2021-06-14  4910.000000  18905.000000  6827.000000  3737.000000  1911.500000
2021-06-15  5006.000000  19175.000000  6885.000000  3800.000000  1944.500000
2021-06-16  5000.000000  19085.000000  6875.000000  3798.000000  1951.500000
2021-06-17  5000.000000  18880.000000  6866.000000  3757.000000  1939.500000

                 4568.T       6098.T        6367.T       6501.T        6594.T  \
Date
2020-06-17  2944.293701  3804.937256  16369.329102  3481.939209   6769.744141
2020-06-18  2906.588623  3835.807129  16374.291016  3458.505127   6757.807617
2020-06-19  2921.998535  3784.025635  16443.757812  3406.754395   6805.552246
2020-06-22  2942.326660  3819.874023  16498.337891  3378.437988   6760.791504
2020-06-23  2905.277100  3847.756592  16657.119141  3444.834961   6851.307129
...                 ...          ...           ...          ...           ...
2021-06-11  2573.500000  5658.000000  20160.000000  5983.000000  12260.000000
2021-06-14  2609.000000  5623.000000  20250.000000  6032.000000  12495.000000
2021-06-15  2620.000000  5739.000000  20455.000000  6100.000000  12535.000000
2021-06-16  2601.000000  5636.000000  20910.000000  6251.000000  12505.000000
2021-06-17  2554.500000  5539.000000  20700.000000  6181.000000  12325.000000

            ...       8031.T       8058.T      8306.T       8316.T  \
Date        ...
2020-06-17  ...  1609.072998  2282.481689  425.582184  3033.470703
2020-06-18  ...  1611.479614  2273.888184  421.296844  3001.260254
2020-06-19  ...  1611.960938  2250.972900  418.249512  2974.733887
2020-06-22  ...  1592.707886  2212.780273  416.630585  2951.049805
2020-06-23  ...  1593.189209  2215.167480  418.535187  2970.944580
...         ...          ...          ...         ...          ...
2021-06-11  ...  2547.000000  3060.000000  610.799988  3905.000000
2021-06-14  ...  2597.000000  3057.000000  604.700012  3899.000000
2021-06-15  ...  2604.000000  3052.000000  608.799988  3920.000000
2021-06-16  ...  2625.000000  3069.000000  610.799988  3929.000000
2021-06-17  ...  2605.500000  3060.000000  618.000000  3962.000000

                 8411.T       8766.T        9022.T       9432.T       9433.T  \
Date
2020-06-17  1338.597534  4706.121094  17590.396484  2408.096680  3083.650635
2020-06-18  1330.798096  4653.483887  17277.876953  2398.958740  3040.354248
2020-06-19  1322.023560  4614.494141  17476.300781  2393.187500  3020.149658
2020-06-22  1321.048706  4594.999023  16945.513672  2400.882568  3047.089355
2020-06-23  1320.073730  4601.821777  17119.136719  2419.639404  3059.597168
...                 ...          ...           ...          ...          ...
2021-06-11  1632.500000  5117.000000  17935.000000  2913.500000  3620.000000
2021-06-14  1618.000000  5141.000000  17990.000000  2898.000000  3601.000000
2021-06-15  1624.500000  5165.000000  18000.000000  2894.000000  3603.000000
2021-06-16  1619.500000  5130.000000  17800.000000  2891.500000  3605.000000
2021-06-17  1633.500000  5159.000000  17700.000000  2879.000000  3549.000000

                 9984.T
Date
2020-06-17  5263.844727
2020-06-18  5413.956055
2020-06-19  5450.738281
2020-06-22  5479.567383
2020-06-23  5464.655762
...                 ...
2021-06-11  8000.000000
2021-06-14  8056.000000
2021-06-15  8042.000000
2021-06-16  8009.000000
2021-06-17  7897.000000

[245 rows x 29 columns]

## 予測用データとモデル作成用データに分ける

In [91]:
ttl_closes = closes.copy()
_closes = closes.copy()
feat_closes = _closes.iloc[:-120,:]
val_closes = _closes.iloc[-120:-100,:]
target_closes = _closes.iloc[-100:-20,:]
test_closes = _closes.iloc[-20:,:]

In [92]:
print(feat_closes.shape,val_closes.shape,target_closes.shape,test_closes.shape)

(125, 29) (20, 29) (80, 29) (20, 29)

## 特徴量作成　終値

In [93]:
#終値の営業日リターン
return_1month = feat_closes.copy().pct_change(20).T
return_2month = feat_closes.copy().pct_change(40).T
return_3month = feat_closes.copy().pct_change(60).T
# 終値の営業日ボラティリティ
volatility_1month = feat_closes.copy().diff().rolling(20).std().T
volatility_2month = feat_closes.copy().diff().rolling(40).std().T
volatility_3month = feat_closes.copy().diff().rolling(60).std().T
# 終値と営業日の単純移動平均線の乖離
ma_gap_1month = feat_closes.copy().rolling(20).mean().T
ma_gap_2month = feat_closes.copy().rolling(40).mean().T
ma_gap_3month = feat_closes.copy().rolling(60).mean().T

#終値の営業日リターン
target_return_1month = target_closes.copy().pct_change(20).T
target_return_2month = target_closes.copy().pct_change(40).T
target_return_3month = target_closes.copy().pct_change(60).T
# 終値の営業日ボラティリティ
target_volatility_1month = target_closes.copy().diff().rolling(20).std().T
target_volatility_2month = target_closes.copy().diff().rolling(40).std().T
target_volatility_3month = target_closes.copy().diff().rolling(60).std().T
# 終値と営業日の単純移動平均線の乖離
target_ma_gap_1month = target_closes.copy().rolling(20).mean().T
target_ma_gap_2month = target_closes.copy().rolling(40).mean().T
target_ma_gap_3month = target_closes.copy().rolling(60).mean().T

In [94]:
df_feat = pd.DataFrame()
df_feat['return_1month'] = return_1month.iloc[:,-1]
df_feat['return_2month'] = return_2month.iloc[:,-1]
df_feat['return_3month'] = return_3month.iloc[:,-1]

df_feat['volatility_1month'] = volatility_1month.iloc[:,-1]
df_feat['volatility_2month'] = volatility_2month.iloc[:,-1]
df_feat['volatility_3month'] = volatility_3month.iloc[:,-1]

df_feat['ma_gap_1month'] = ma_gap_1month.iloc[:,-1]
df_feat['ma_gap_2month'] = ma_gap_2month.iloc[:,-1]
df_feat['ma_gap_3month'] = ma_gap_3month.iloc[:,-1]

df_target = pd.DataFrame()
df_target['return_1month'] = target_return_1month.iloc[:,-1]
df_target['return_2month'] = target_return_2month.iloc[:,-1]
df_target['return_3month'] = target_return_3month.iloc[:,-1]

df_target['volatility_1month'] = target_volatility_1month.iloc[:,-1]
df_target['volatility_2month'] = target_volatility_2month.iloc[:,-1]
df_target['volatility_3month'] = target_volatility_3month.iloc[:,-1]

df_target['ma_gap_1month'] = target_ma_gap_1month.iloc[:,-1]
df_target['ma_gap_2month'] = target_ma_gap_2month.iloc[:,-1]
df_target['ma_gap_3month'] = target_ma_gap_3month.iloc[:,-1]

In [95]:
df_feat

,return_1month,return_2month,return_3month,volatility_1month,volatility_2month,volatility_3month,ma_gap_1month,ma_gap_2month,ma_gap_3month
3382.T,0.074738,0.007567,0.082831,64.452933,74.324109,70.135696,3440.608630,3364.354303,3368.347750
4063.T,0.134418,0.179434,0.222543,281.985745,257.688651,222.101495,16918.560254,15804.677539,15171.153662
4452.T,-0.007125,0.005670,-0.036305,93.843738,96.519929,94.062060,7710.605005,7650.793066,7684.322135
4502.T,0.069517,0.096127,-0.005723,34.179669,53.998462,57.168955,3722.279614,3573.077307,3587.683553
4503.T,-0.035703,0.019536,-0.041219,29.859095,28.727042,25.856932,1511.709174,1519.884451,1517.615529
4568.T,-0.074167,0.208923,0.048351,87.056681,84.352394,77.105459,3511.616431,3308.177612,3195.966903
6098.T,-0.062584,-0.035862,-0.022462,82.505185,104.350711,91.749962,4240.832422,4311.991986,4290.052450
6367.T,-0.096037,0.087812,0.122856,426.176848,451.226046,410.047153,23150.670898,22310.676270,21260.223242
6501.T,0.060812,0.165512,0.161722,55.100650,86.255892,80.449570,4047.377515,3872.149017,3770.029879
6594.T,0.128194,0.238994,0.356353,241.825846,261.416882,227.974149,12647.276221,11862.418188,11237.285954
6758.T,0.108769,0.298759,0.235906,139.124480,162.220005,152.676468,9736.330518,9271.058325,8809.264445
6861.T,0.050660,0.109855,0.179906,893.683639,968.480880,904.373220,52731.104102,51653.497949,50689.332487
6954.T,0.049624,0.217217,0.261212,401.323002,383.348975,373.863147,25630.502637,24155.316650,22870.121875
6981.T,0.085406,0.216424,0.317917,121.991918,118.901833,109.099679,8805.781641,8189.185229,7764.588192
7203.T,0.083550,0.128692,0.124824,116.565624,105.895650,101.492603,7327.595654,7172.828833,7069.435270
7267.T,0.044741,0.184760,0.193272,54.889782,68.130749,60.731558,2979.372668,2823.986414,2710.097485
7741.T,0.116940,0.141162,0.218322,275.425798,315.439500,268.277295,13295.495215,12838.202490,12558.050993
7974.T,0.226020,0.186133,0.132856,1307.561796,1303.119747,1183.821988,57882.451367,56097.009668,56446.013151
8001.T,0.060210,0.130754,0.102402,30.912957,30.602096,29.588862,2829.743066,2705.412079,2682.552592
8031.T,0.019174,0.073793,0.041270,32.750158,36.165660,31.866337,1844.964667,1792.704395,1794.300793
8058.T,0.023866,0.050810,0.033063,25.349103,29.380821,28.471284,2465.482642,2430.439508,2444.971431
8306.T,-0.028844,0.053895,0.043786,4.967494,7.154854,6.745962,443.898660,435.452875,429.549054
8316.T,-0.006616,0.052579,0.049822,41.444702,48.611753,44.253971,3049.702576,3002.967126,2974.565230
8411.T,-0.063633,0.003811,-0.054060,14.884229,20.851384,20.189184,1316.037970,1318.714035,1313.653792
8766.T,-0.064533,0.075200,0.069827,95.982536,125.461985,111.825318,5226.733838,5089.300574,4958.611361
9022.T,-0.036140,0.008922,-0.105918,275.488955,439.100484,404.663125,14144.313477,13948.303931,14300.682780
9432.T,0.075005,0.188528,0.212830,25.975817,31.157797,31.854325,2512.640576,2407.193353,2337.346134
9433.T,-0.022639,0.082960,0.126016,32.450555,39.872534,36.579043,2941.454187,2925.155005,2838.164689
9984.T,0.270184,0.178445,0.280838,243.012809,213.972993,192.386463,7482.177148,7131.803149,7014.486060

In [96]:
df_target

,return_1month,return_2month,return_3month,volatility_1month,volatility_2month,volatility_3month,ma_gap_1month,ma_gap_2month,ma_gap_3month
3382.T,0.059600,0.070667,0.150041,103.218968,103.813183,96.736538,4676.750000,4580.350000,4481.714551
4063.T,-0.041063,-0.015570,-0.010260,330.058209,304.892159,333.610915,18502.250000,18677.915674,18390.583854
4452.T,-0.062017,-0.069853,-0.095016,81.732217,78.726971,84.751699,6942.800000,7124.525000,7149.300000
4502.T,0.015389,-0.100579,0.027841,38.787240,49.603655,54.153161,3694.600000,3815.033502,3810.515381
4503.T,0.024272,-0.053150,-0.039848,23.723739,24.311487,27.015650,1664.800000,1674.132385,1701.908704
4568.T,-0.125957,-0.212042,-0.204676,63.024071,60.060904,62.027292,2824.625000,2966.869916,3036.296407
6098.T,0.010559,-0.003426,-0.025189,143.743961,119.809604,121.395658,5037.650000,5134.477014,5160.656063
6367.T,-0.080962,-0.096997,-0.101074,592.126576,495.998267,506.269694,21855.250000,22104.838184,22053.961654
6501.T,0.046219,0.006488,0.138799,108.149738,115.704171,110.863773,5272.550000,5204.251233,5182.213826
6594.T,-0.120745,-0.093430,-0.157697,322.397577,263.725602,309.576463,12705.500000,13182.032031,13247.231966
6758.T,-0.132864,-0.091123,-0.124827,287.966167,252.353646,247.865410,10963.700000,11401.809424,11378.358610
6861.T,0.016988,-0.004159,-0.092109,911.807921,1015.876406,1160.847015,51934.000000,51623.250000,51451.404362
6954.T,-0.088057,-0.062409,-0.137772,618.478609,569.122450,623.975548,25641.750000,26316.999463,26379.408789
6981.T,-0.088624,-0.101077,-0.146456,163.901535,143.041491,183.838218,8586.950000,8806.715967,8927.654427
7203.T,0.015826,0.018675,0.088030,140.298882,132.542513,127.952401,8422.900000,8399.132886,8261.971436
7267.T,-0.010222,-0.046116,0.084840,63.293053,54.876139,60.846633,3292.250000,3286.195715,3233.799227
7741.T,0.038686,0.119063,0.082170,382.468093,310.946440,293.668223,13184.000000,13248.111255,12935.126872
7974.T,-0.036434,0.024748,-0.065925,990.307103,915.045028,1099.903858,62085.000000,62806.593164,62491.801497
8001.T,-0.066896,-0.066657,0.033951,57.171280,51.499130,49.908397,3393.600000,3454.845093,3413.865849
8031.T,0.035095,0.024314,0.125630,49.840509,43.142458,40.461987,2365.325000,2336.083807,2314.376567
8058.T,-0.047440,-0.071157,0.001853,52.523798,48.804890,45.309288,2986.775000,3046.084277,3040.687748
8306.T,0.070473,-0.021938,0.165193,8.360288,10.808142,10.795043,595.885007,597.530647,589.866743
8316.T,0.029086,-0.057977,0.095956,48.645090,63.941550,64.023402,3892.050000,3938.123218,3905.180444
8411.T,0.087054,0.010416,0.102448,21.553163,25.167206,23.628430,1588.300000,1590.480460,1581.725503
8766.T,-0.028954,-0.048819,-0.000555,102.864704,94.668774,90.053780,5377.350000,5337.894250,5348.018229
9022.T,-0.008163,-0.103749,-0.106275,356.942794,325.202336,317.057392,15831.750000,16158.493945,16569.096029
9432.T,-0.002791,-0.010040,0.020370,43.631712,42.416827,38.026641,2826.725000,2848.902002,2823.067151
9433.T,0.067944,0.068638,0.112503,57.662448,52.546023,50.294786,3430.350000,3447.876367,3412.191479
9984.T,-0.156746,-0.145286,-0.175953,252.823009,224.286360,256.239279,9487.250000,9595.360376,9808.853288

## 特徴量作成　損益計算書

In [97]:
#tickers.tickers[3].financials.T["Net Income"]
tickers.tickers[3].quarterly_financials.T['Net Income']

2021-03-31    1.97098e+11
2020-12-31     9.2359e+10
2020-09-30      4.037e+09
2020-06-30     8.2511e+10
Name: Net Income, dtype: object

In [98]:
'''当期・前期　当期純利益データフレームの作成'''
earnings = []
prev_earnings = []

dummy = tickers.tickers[0].quarterly_financials.T["Net Income"]
dummy[:] = np.nan

for i in range(len(tickers.tickers)):
    try:
        latest_earnings = tickers.tickers[i].quarterly_financials\
        .T["Net Income"]
        previous_earnings = tickers.tickers[i].quarterly_financials\
        .T["Net Income"][1:]
        earnings.append(latest_earnings)
        prev_earnings.append(previous_earnings)
    except:
        earnings.append(dummy)  
        prev_earnings.append(dummy) # エラー発生時はダミーを入れる

earnings = pd.DataFrame(earnings).T  # DataFrame化
prev_earnings = pd.DataFrame(prev_earnings).T  # DataFrame化
earnings.columns = stocks            # カラム名の設定
prev_earnings.columns = stocks            # カラム名の設定

_earnings = earnings.ffill().fillna(0).T.iloc[:,-1]
_prev_earnings = prev_earnings.ffill().fillna(0).T.iloc[:,-1]

print(_earnings)
print(_prev_earnings)

3382.T    4.827500e+10
4063.T    8.041100e+10
4452.T    2.571900e+10
4502.T    1.970980e+11
4503.T   -1.232800e+10
4568.T    1.520000e+08
6098.T    3.443000e+10
6367.T    2.750900e+10
6501.T    1.937350e+11
6594.T    3.834100e+10
6758.T    1.070000e+11
6861.T    6.492600e+10
6954.T    3.295000e+10
6981.T    6.073400e+10
7203.T    7.771970e+11
7267.T    2.133230e+11
7741.T    3.101800e+10
7974.T    1.635420e+11
8001.T    3.711500e+10
8031.T    1.365210e+11
8058.T    3.404000e+09
8306.T    1.699810e+11
8316.T    1.637990e+11
8411.T    1.166160e+11
8766.T    4.902100e+10
9022.T   -9.006200e+10
9432.T    8.500700e+10
9433.T    1.027700e+11
9984.T    1.171951e+12
Name: 2021-03-31 00:00:00, dtype: float64
3382.T    5.846800e+10
4063.T    7.301500e+10
4452.T    4.020100e+10
4502.T    9.235900e+10
4503.T    6.007900e+10
4568.T    2.413900e+10
6098.T    5.504900e+10
6367.T    4.413200e+10
6501.T    5.712300e+10
6594.T    3.485300e+10
6758.T    3.718910e+11
6861.T    4.804000e+10
6954.T    2.723200e+10
6981.T    7.646300e+10
7203.T    8.386960e+11
7267.T    2.840510e+11
7741.T    3.669800e+10
7974.T    1.066410e+11
8001.T    1.118100e+11
8031.T    8.891300e+10
8058.T    8.245900e+10
8306.T   -1.698630e+11
8316.T    1.840350e+11
8411.T    1.388810e+11
8766.T    5.038700e+10
9022.T    2.074000e+09
9432.T    2.896630e+11
9433.T    1.758260e+11
9984.T    6.274990e+11
Name: 2020-12-31 00:00:00, dtype: float64

In [99]:
#当期・前 自己資本データフレームの作成
equity   = [] # 自己資本
prev_equity = []

dummy = tickers.tickers[0].quarterly_balance_sheet.T["Total Stockholder Equity"]
dummy[:] = np.nan

for i in range(len(tickers.tickers)):
    try:
        latest_equity = tickers.tickers[i].quarterly_balance_sheet\
        .T["Total Stockholder Equity"]
        previous_equity = tickers.tickers[i].quarterly_balance_sheet\
        .T["Total Stockholder Equity"][1:]
        equity.append(latest_equity)
        prev_equity.append(previous_equity)
    except:
        equity.append(dummy)  
        prev_equity.append(dummy)   # エラー発生時はダミーを入れる

equity = pd.DataFrame(equity).T      # DataFrame化
prev_equity = pd.DataFrame(prev_equity).T   
equity.columns = stocks              # カラム名の設定
prev_equity.columns = stocks 

_equity = equity.ffill().fillna(0).T.iloc[:,-1]
_prev_equity = prev_equity.ffill().fillna(0).T.iloc[:,-1]

print(_equity)
print(_prev_equity)

3382.T    0.000000e+00
4063.T    2.815153e+12
4452.T    9.087920e+11
4502.T    5.173037e+12
4503.T    1.386115e+12
4568.T    1.272053e+12
6098.T    1.091571e+12
6367.T    1.667707e+12
6501.T    3.525502e+12
6594.T    1.096054e+12
6758.T    5.575839e+12
6861.T    1.912844e+12
6954.T    1.425479e+12
6981.T    1.920805e+12
7203.T    2.340455e+13
7267.T    9.082306e+12
7741.T    6.880000e+11
7974.T    1.736023e+12
8001.T    3.316281e+12
8031.T    4.570420e+12
8058.T    5.613647e+12
8306.T    1.680257e+13
8316.T    1.144562e+13
8411.T    9.256410e+12
8766.T    3.666399e+12
9022.T    3.642515e+12
9432.T    7.437733e+12
9433.T    4.759720e+12
9984.T    7.625039e+12
Name: 2021-03-31 00:00:00, dtype: float64
3382.T    0.000000e+00
4063.T    2.745017e+12
4452.T    9.236870e+11
4502.T    4.635353e+12
4503.T    1.368609e+12
4568.T    1.291308e+12
6098.T    1.059796e+12
6367.T    1.556515e+12
6501.T    2.928327e+12
6594.T    9.823960e+11
6758.T    5.390560e+12
6861.T    1.843959e+12
6954.T    1.373845e+12
6981.T    1.807243e+12
7203.T    2.180412e+13
7267.T    8.306603e+12
7741.T    6.671590e+11
7974.T    1.669641e+12
8001.T    3.059628e+12
8031.T    4.135896e+12
8058.T    5.314918e+12
8306.T    1.658754e+13
8316.T    1.123443e+13
8411.T    8.906097e+12
8766.T    3.546453e+12
9022.T    3.714368e+12
9432.T    7.437733e+12
9433.T    4.615142e+12
9984.T    7.302753e+12
Name: 2020-12-31 00:00:00, dtype: float64

In [100]:
#発行株数データフレームの作成
shares   = [] # 発行株数

for i in range(len(tickers.tickers)):
    try:
        shares.append(tickers.tickers[i].info["sharesOutstanding"])
    except:
        shares.append(np.nan)        # エラー発生時はNAN値を入れる

shares = pd.Series(shares)           # Series化
shares.index = stocks                # インデックス名の設定

print(shares)

3382.T      882966976
4063.T      415240992
4452.T      474879008
4502.T     1576390016
4503.T     1857510016
4568.T     1916169984
6098.T     1634189952
6367.T      292584992
6501.T      966835008
6594.T      585488000
6758.T     1239030016
6861.T      242527008
6954.T      191812992
6981.T      639816000
7203.T     2795960064
7267.T     1726610048
7741.T      365756000
7974.T      119124000
8001.T     1487430016
8031.T     1638579968
8058.T     1478989952
8306.T    12844699648
8316.T     1370429952
8411.T     2535269888
8766.T      693273024
9022.T      196355008
9432.T     3622010112
9433.T     2275399936
9984.T     1738520064
dtype: int64

In [101]:
#EPS、ROEデータフレームの作成
eps = _earnings/shares.values      # EPS
prev_eps = _prev_earnings/shares.values      # previous EPS
roe = _earnings/_equity    # ROE
prev_roe = _prev_earnings/_prev_equity   # previous ROE

eps = eps.ffill().fillna(0).replace([np.inf,-np.inf],0)                 # 欠損データの補完
prev_eps = prev_eps.ffill().fillna(0) .replace([np.inf,-np.inf],0)  
roe = roe.ffill().fillna(0).replace([np.inf,-np.inf],0)  
prev_roe = prev_roe.ffill().fillna(0).replace([np.inf,-np.inf],0)  

#eps = eps.drop(["^N225"], axis=1) # ^N225カラムは削除しておく
#roe = roe.drop(["^N225"], axis=1)

print(eps)
print(prev_eps)
print(roe)
print(prev_roe)

3382.T      54.673619
4063.T     193.648993
4452.T      54.159059
4502.T     125.031241
4503.T      -6.636842
4568.T       0.079325
6098.T      21.068542
6367.T      94.020544
6501.T     200.380622
6594.T      65.485544
6758.T      86.357876
6861.T     267.706267
6954.T     171.781899
6981.T      94.924166
7203.T     277.971424
7267.T     123.550190
7741.T      84.805171
7974.T    1372.871965
8001.T      24.952434
8031.T      83.316654
8058.T       2.301571
8306.T      13.233552
8316.T     119.523803
8411.T      45.997470
8766.T      70.709516
9022.T    -458.669228
9432.T      23.469565
9433.T      45.165686
9984.T     674.108412
Name: 2021-03-31 00:00:00, dtype: float64
3382.T     66.217652
4063.T    175.837649
4452.T     84.655248
4502.T     58.588927
4503.T     32.343836
4568.T     12.597525
6098.T     33.685803
6367.T    150.834804
6501.T     59.082470
6594.T     59.528120
6758.T    300.146885
6861.T    198.081032
6954.T    141.971614
6981.T    119.507796
7203.T    299.967089
7267.T    164.513696
7741.T    100.334649
7974.T    895.210033
8001.T     75.169923
8031.T     54.262228
8058.T     55.753590
8306.T    -13.224365
8316.T    134.289972
8411.T     54.779572
8766.T     72.679880
9022.T     10.562501
9432.T     79.972996
9433.T     77.272570
9984.T    360.938601
Name: 2020-12-31 00:00:00, dtype: float64
3382.T    0.000000
4063.T    0.028564
4452.T    0.028300
4502.T    0.038101
4503.T   -0.008894
4568.T    0.000119
6098.T    0.031542
6367.T    0.016495
6501.T    0.054952
6594.T    0.034981
6758.T    0.019190
6861.T    0.033942
6954.T    0.023115
6981.T    0.031619
7203.T    0.033207
7267.T    0.023488
7741.T    0.045084
7974.T    0.094205
8001.T    0.011192
8031.T    0.029871
8058.T    0.000606
8306.T    0.010116
8316.T    0.014311
8411.T    0.012598
8766.T    0.013370
9022.T   -0.024725
9432.T    0.011429
9433.T    0.021592
9984.T    0.153698
Name: 2021-03-31 00:00:00, dtype: float64
3382.T    0.000000
4063.T    0.026599
4452.T    0.043522
4502.T    0.019925
4503.T    0.043898
4568.T    0.018693
6098.T    0.051943
6367.T    0.028353
6501.T    0.019507
6594.T    0.035478
6758.T    0.068989
6861.T    0.026053
6954.T    0.019822
6981.T    0.042309
7203.T    0.038465
7267.T    0.034196
7741.T    0.055006
7974.T    0.063871
8001.T    0.036544
8031.T    0.021498
8058.T    0.015515
8306.T   -0.010240
8316.T    0.016381
8411.T    0.015594
8766.T    0.014208
9022.T    0.000558
9432.T    0.038945
9433.T    0.038098
9984.T    0.085926
Name: 2020-12-31 00:00:00, dtype: float64

In [102]:
df_feat['eps'] = prev_eps
df_feat['roe'] = prev_roe

df_target['eps'] = eps
df_target['roe'] = roe

In [103]:
df_feat

,return_1month,return_2month,return_3month,volatility_1month,volatility_2month,volatility_3month,ma_gap_1month,ma_gap_2month,ma_gap_3month,eps,roe
3382.T,0.074738,0.007567,0.082831,64.452933,74.324109,70.135696,3440.608630,3364.354303,3368.347750,66.217652,0.000000
4063.T,0.134418,0.179434,0.222543,281.985745,257.688651,222.101495,16918.560254,15804.677539,15171.153662,175.837649,0.026599
4452.T,-0.007125,0.005670,-0.036305,93.843738,96.519929,94.062060,7710.605005,7650.793066,7684.322135,84.655248,0.043522
4502.T,0.069517,0.096127,-0.005723,34.179669,53.998462,57.168955,3722.279614,3573.077307,3587.683553,58.588927,0.019925
4503.T,-0.035703,0.019536,-0.041219,29.859095,28.727042,25.856932,1511.709174,1519.884451,1517.615529,32.343836,0.043898
4568.T,-0.074167,0.208923,0.048351,87.056681,84.352394,77.105459,3511.616431,3308.177612,3195.966903,12.597525,0.018693
6098.T,-0.062584,-0.035862,-0.022462,82.505185,104.350711,91.749962,4240.832422,4311.991986,4290.052450,33.685803,0.051943
6367.T,-0.096037,0.087812,0.122856,426.176848,451.226046,410.047153,23150.670898,22310.676270,21260.223242,150.834804,0.028353
6501.T,0.060812,0.165512,0.161722,55.100650,86.255892,80.449570,4047.377515,3872.149017,3770.029879,59.082470,0.019507
6594.T,0.128194,0.238994,0.356353,241.825846,261.416882,227.974149,12647.276221,11862.418188,11237.285954,59.528120,0.035478
6758.T,0.108769,0.298759,0.235906,139.124480,162.220005,152.676468,9736.330518,9271.058325,8809.264445,300.146885,0.068989
6861.T,0.050660,0.109855,0.179906,893.683639,968.480880,904.373220,52731.104102,51653.497949,50689.332487,198.081032,0.026053
6954.T,0.049624,0.217217,0.261212,401.323002,383.348975,373.863147,25630.502637,24155.316650,22870.121875,141.971614,0.019822
6981.T,0.085406,0.216424,0.317917,121.991918,118.901833,109.099679,8805.781641,8189.185229,7764.588192,119.507796,0.042309
7203.T,0.083550,0.128692,0.124824,116.565624,105.895650,101.492603,7327.595654,7172.828833,7069.435270,299.967089,0.038465
7267.T,0.044741,0.184760,0.193272,54.889782,68.130749,60.731558,2979.372668,2823.986414,2710.097485,164.513696,0.034196
7741.T,0.116940,0.141162,0.218322,275.425798,315.439500,268.277295,13295.495215,12838.202490,12558.050993,100.334649,0.055006
7974.T,0.226020,0.186133,0.132856,1307.561796,1303.119747,1183.821988,57882.451367,56097.009668,56446.013151,895.210033,0.063871
8001.T,0.060210,0.130754,0.102402,30.912957,30.602096,29.588862,2829.743066,2705.412079,2682.552592,75.169923,0.036544
8031.T,0.019174,0.073793,0.041270,32.750158,36.165660,31.866337,1844.964667,1792.704395,1794.300793,54.262228,0.021498
8058.T,0.023866,0.050810,0.033063,25.349103,29.380821,28.471284,2465.482642,2430.439508,2444.971431,55.753590,0.015515
8306.T,-0.028844,0.053895,0.043786,4.967494,7.154854,6.745962,443.898660,435.452875,429.549054,-13.224365,-0.010240
8316.T,-0.006616,0.052579,0.049822,41.444702,48.611753,44.253971,3049.702576,3002.967126,2974.565230,134.289972,0.016381
8411.T,-0.063633,0.003811,-0.054060,14.884229,20.851384,20.189184,1316.037970,1318.714035,1313.653792,54.779572,0.015594
8766.T,-0.064533,0.075200,0.069827,95.982536,125.461985,111.825318,5226.733838,5089.300574,4958.611361,72.679880,0.014208
9022.T,-0.036140,0.008922,-0.105918,275.488955,439.100484,404.663125,14144.313477,13948.303931,14300.682780,10.562501,0.000558
9432.T,0.075005,0.188528,0.212830,25.975817,31.157797,31.854325,2512.640576,2407.193353,2337.346134,79.972996,0.038945
9433.T,-0.022639,0.082960,0.126016,32.450555,39.872534,36.579043,2941.454187,2925.155005,2838.164689,77.272570,0.038098
9984.T,0.270184,0.178445,0.280838,243.012809,213.972993,192.386463,7482.177148,7131.803149,7014.486060,360.938601,0.085926

In [104]:
df_target

,return_1month,return_2month,return_3month,volatility_1month,volatility_2month,volatility_3month,ma_gap_1month,ma_gap_2month,ma_gap_3month,eps,roe
3382.T,0.059600,0.070667,0.150041,103.218968,103.813183,96.736538,4676.750000,4580.350000,4481.714551,54.673619,0.000000
4063.T,-0.041063,-0.015570,-0.010260,330.058209,304.892159,333.610915,18502.250000,18677.915674,18390.583854,193.648993,0.028564
4452.T,-0.062017,-0.069853,-0.095016,81.732217,78.726971,84.751699,6942.800000,7124.525000,7149.300000,54.159059,0.028300
4502.T,0.015389,-0.100579,0.027841,38.787240,49.603655,54.153161,3694.600000,3815.033502,3810.515381,125.031241,0.038101
4503.T,0.024272,-0.053150,-0.039848,23.723739,24.311487,27.015650,1664.800000,1674.132385,1701.908704,-6.636842,-0.008894
4568.T,-0.125957,-0.212042,-0.204676,63.024071,60.060904,62.027292,2824.625000,2966.869916,3036.296407,0.079325,0.000119
6098.T,0.010559,-0.003426,-0.025189,143.743961,119.809604,121.395658,5037.650000,5134.477014,5160.656063,21.068542,0.031542
6367.T,-0.080962,-0.096997,-0.101074,592.126576,495.998267,506.269694,21855.250000,22104.838184,22053.961654,94.020544,0.016495
6501.T,0.046219,0.006488,0.138799,108.149738,115.704171,110.863773,5272.550000,5204.251233,5182.213826,200.380622,0.054952
6594.T,-0.120745,-0.093430,-0.157697,322.397577,263.725602,309.576463,12705.500000,13182.032031,13247.231966,65.485544,0.034981
6758.T,-0.132864,-0.091123,-0.124827,287.966167,252.353646,247.865410,10963.700000,11401.809424,11378.358610,86.357876,0.019190
6861.T,0.016988,-0.004159,-0.092109,911.807921,1015.876406,1160.847015,51934.000000,51623.250000,51451.404362,267.706267,0.033942
6954.T,-0.088057,-0.062409,-0.137772,618.478609,569.122450,623.975548,25641.750000,26316.999463,26379.408789,171.781899,0.023115
6981.T,-0.088624,-0.101077,-0.146456,163.901535,143.041491,183.838218,8586.950000,8806.715967,8927.654427,94.924166,0.031619
7203.T,0.015826,0.018675,0.088030,140.298882,132.542513,127.952401,8422.900000,8399.132886,8261.971436,277.971424,0.033207
7267.T,-0.010222,-0.046116,0.084840,63.293053,54.876139,60.846633,3292.250000,3286.195715,3233.799227,123.550190,0.023488
7741.T,0.038686,0.119063,0.082170,382.468093,310.946440,293.668223,13184.000000,13248.111255,12935.126872,84.805171,0.045084
7974.T,-0.036434,0.024748,-0.065925,990.307103,915.045028,1099.903858,62085.000000,62806.593164,62491.801497,1372.871965,0.094205
8001.T,-0.066896,-0.066657,0.033951,57.171280,51.499130,49.908397,3393.600000,3454.845093,3413.865849,24.952434,0.011192
8031.T,0.035095,0.024314,0.125630,49.840509,43.142458,40.461987,2365.325000,2336.083807,2314.376567,83.316654,0.029871
8058.T,-0.047440,-0.071157,0.001853,52.523798,48.804890,45.309288,2986.775000,3046.084277,3040.687748,2.301571,0.000606
8306.T,0.070473,-0.021938,0.165193,8.360288,10.808142,10.795043,595.885007,597.530647,589.866743,13.233552,0.010116
8316.T,0.029086,-0.057977,0.095956,48.645090,63.941550,64.023402,3892.050000,3938.123218,3905.180444,119.523803,0.014311
8411.T,0.087054,0.010416,0.102448,21.553163,25.167206,23.628430,1588.300000,1590.480460,1581.725503,45.997470,0.012598
8766.T,-0.028954,-0.048819,-0.000555,102.864704,94.668774,90.053780,5377.350000,5337.894250,5348.018229,70.709516,0.013370
9022.T,-0.008163,-0.103749,-0.106275,356.942794,325.202336,317.057392,15831.750000,16158.493945,16569.096029,-458.669228,-0.024725
9432.T,-0.002791,-0.010040,0.020370,43.631712,42.416827,38.026641,2826.725000,2848.902002,2823.067151,23.469565,0.011429
9433.T,0.067944,0.068638,0.112503,57.662448,52.546023,50.294786,3430.350000,3447.876367,3412.191479,45.165686,0.021592
9984.T,-0.156746,-0.145286,-0.175953,252.823009,224.286360,256.239279,9487.250000,9595.360376,9808.853288,674.108412,0.153698

# 目的変数
20日分の株価　四本値 (始値、高値、安値、終値)から
翌営業日以降N（5，10，20）営業日間における最高値及び最安値への変化率
## 120日以前のデータでモデリング
## 119日から100日前の20日分のデータで、120日目の終値と比べてどの程度変化（最高値・最安値）を20，10，5日で算出

In [107]:
high= []
low = []

for i in range(len(tickers.tickers)):
    high.append(tickers.tickers[i].history(period = prod).High)
    low.append(tickers.tickers[i].history(period = prod).Low)

high = pd.DataFrame(high).T.ffill()
low = pd.DataFrame(low).T.ffill()
high.columns = stocks
low.columns = stocks
print(high)
print(low)

                 3382.T        4063.T       4452.T       4502.T       4503.T  \
Date
2020-06-15          NaN           NaN          NaN          NaN          NaN
2020-06-16          NaN           NaN          NaN          NaN          NaN
2020-06-17  3677.336334  12487.752999  8588.925401  3902.025607  1756.525239
2020-06-18  3624.719682  12290.785617  8563.586077  3837.948459  1743.358654
2020-06-19  3620.822196  12354.801243  8487.570463  3857.075916  1737.994456
...                 ...           ...          ...          ...          ...
2021-06-11  4905.000000  18605.000000  6869.000000  3779.000000  1949.000000
2021-06-14  4927.000000  18925.000000  6892.000000  3783.000000  1927.500000
2021-06-15  5027.000000  19240.000000  6886.000000  3811.000000  1944.500000
2021-06-16  5045.000000  19180.000000  6928.000000  3824.000000  1958.000000
2021-06-17  5010.000000  18975.000000  6884.000000  3795.000000  1949.500000

                 4568.T       6098.T        6367.T       6501.T        6594.T  \
Date
2020-06-15          NaN          NaN           NaN          NaN           NaN
2020-06-16          NaN          NaN           NaN          NaN           NaN
2020-06-17  2958.392373  3842.777511  16443.757697  3537.595556   6817.488443
2020-06-18  2952.162803  3858.710443  16418.948173  3476.080816   6778.695748
2020-06-19  2965.277686  3894.559015  16533.072128  3450.693617   6842.355145
...                 ...          ...           ...          ...           ...
2021-06-11  2583.500000  5803.000000  20745.000000  6069.000000  12360.000000
2021-06-14  2685.500000  5687.000000  20355.000000  6052.000000  12495.000000
2021-06-15  2643.000000  5768.000000  20530.000000  6111.000000  12550.000000
2021-06-16  2611.000000  5661.000000  20945.000000  6270.000000  12510.000000
2021-06-17  2601.000000  5582.000000  20915.000000  6248.000000  12485.000000

            ...       8031.T       8058.T      8306.T       8316.T  \
Date        ...
2020-06-15  ...          NaN          NaN         NaN          NaN
2020-06-16  ...          NaN          NaN         NaN          NaN
2020-06-17  ...  1621.587475  2289.642791  427.105867  3080.839078
2020-06-18  ...  1619.662157  2288.210385  422.249143  3009.786561
2020-06-19  ...  1625.438067  2265.295103  423.868067  2999.365441
...         ...          ...          ...         ...          ...
2021-06-11  ...  2552.500000  3075.000000  619.200012  3946.000000
2021-06-14  ...  2613.500000  3088.000000  609.900024  3922.000000
2021-06-15  ...  2613.000000  3059.000000  609.500000  3930.000000
2021-06-16  ...  2634.000000  3092.000000  613.299988  3955.000000
2021-06-17  ...  2641.000000  3088.000000  630.900024  4031.000000

                 8411.T       8766.T        9022.T       9432.T       9433.T  \
Date
2020-06-15          NaN          NaN           NaN          NaN          NaN
2020-06-16          NaN          NaN           NaN          NaN          NaN
2020-06-17  1344.447196  4761.682175  17947.561895  2424.929790  3101.931247
2020-06-18  1335.672814  4680.777047  17491.184076  2419.639419  3079.801882
2020-06-19  1333.722883  4663.231933  17773.938603  2406.653989  3058.635159
...                 ...          ...           ...          ...          ...
2021-06-11  1656.000000  5142.000000  18220.000000  2916.500000  3639.000000
2021-06-14  1629.000000  5168.000000  18320.000000  2923.000000  3623.000000
2021-06-15  1631.000000  5187.000000  18205.000000  2900.000000  3633.000000
2021-06-16  1635.000000  5196.000000  18175.000000  2900.000000  3644.000000
2021-06-17  1666.500000  5205.000000  17900.000000  2891.500000  3580.000000

                 9984.T
Date
2020-06-15          NaN
2020-06-16          NaN
2020-06-17  5322.497576
2020-06-18  5416.938403
2020-06-19  5543.191074
...                 ...
2021-06-11  8100.000000
2021-06-14  8092.000000
2021-06-15  8080.000000
2021-06-16  8019.000000
2021-06-17  8009.000000

[247 rows x 29 columns]
                 3382.T        4063.T       4452.T       4502.T       4503.T  \
Date
2020-06-17  3610.103635  12276.012707  8459.306988  3806.387724  1729.216685
2020-06-18  3559.435752  12098.742092  8432.018520  3783.434862  1700.932863
2020-06-19  3511.690849  12128.288347  8409.604492  3802.562321  1713.611818
2020-06-22  3607.180777  12049.499790  8343.333173  3834.122752  1734.093170
2020-06-23  3537.999164  11985.485259  8353.079233  3810.213168  1744.333900
...                 ...           ...          ...          ...          ...
2021-06-11  4822.000000  18405.000000  6790.000000  3728.000000  1910.000000
2021-06-14  4898.000000  18610.000000  6825.000000  3725.000000  1904.000000
2021-06-15  4909.000000  18970.000000  6816.000000  3752.000000  1911.000000
2021-06-16  4980.000000  18985.000000  6858.000000  3792.000000  1943.000000
2021-06-17  4959.000000  18720.000000  6838.000000  3742.000000  1924.000000

                 4568.T       6098.T        6367.T       6501.T        6594.T  \
Date
2020-06-17  2911.506545  3762.118020  16250.243349  3470.222083   6705.090398
2020-06-18  2885.932663  3774.067762  16106.348072  3404.801631   6658.340328
2020-06-19  2902.326194  3784.025635  16359.405404  3383.320142   6715.037009
2020-06-22  2906.916443  3793.983324  16309.785458  3360.862299   6709.068515
2020-06-23  2872.817736  3793.983596  16458.642892  3359.885799   6758.802547
...                 ...          ...           ...          ...           ...
2021-06-11  2525.000000  5653.000000  20025.000000  5966.000000  12195.000000
2021-06-14  2570.000000  5603.000000  20085.000000  5997.000000  12270.000000
2021-06-15  2600.000000  5543.000000  20295.000000  6002.000000  12390.000000
2021-06-16  2557.500000  5572.000000  20455.000000  6150.000000  12360.000000
2021-06-17  2547.000000  5451.000000  20470.000000  6178.000000  12285.000000

            ...       8031.T       8058.T      8306.T       8316.T  \
Date        ...
2020-06-17  ...  1599.927803  2264.817640  420.249307  3013.575986
2020-06-18  ...  1591.745246  2252.404881  416.344910  2957.681349
2020-06-19  ...  1599.446460  2240.947358  416.916271  2959.576007
2020-06-22  ...  1592.226560  2211.348053  416.154435  2951.049805
2020-06-23  ...  1578.749428  2204.664531  414.249844  2933.997246
...         ...          ...          ...         ...          ...
2021-06-11  ...  2520.000000  3036.000000  607.299988  3890.000000
2021-06-14  ...  2584.000000  3050.000000  602.799988  3883.000000
2021-06-15  ...  2582.500000  3024.000000  601.200012  3901.000000
2021-06-16  ...  2606.000000  3053.000000  606.400024  3915.000000
2021-06-17  ...  2601.500000  3060.000000  617.099976  3960.000000

                 8411.T       8766.T        9022.T       9432.T       9433.T  \
Date
2020-06-17  1322.023493  4680.777442  17580.475223  2408.096680  3079.802085
2020-06-18  1313.249110  4600.847077  17119.136769  2383.087522  3020.149362
2020-06-19  1318.123785  4573.554395  17322.521240  2387.897094  3020.149658
2020-06-22  1318.123875  4566.731104  16945.513672  2374.430537  3016.300957
2020-06-23  1309.349350  4517.018029  16871.105181  2387.416021  3019.187394
...                 ...          ...           ...          ...          ...
2021-06-11  1628.000000  5093.000000  17780.000000  2878.500000  3591.000000
2021-06-14  1616.000000  5123.000000  17970.000000  2882.000000  3567.000000
2021-06-15  1615.000000  5137.000000  17890.000000  2882.000000  3592.000000
2021-06-16  1619.500000  5130.000000  17800.000000  2881.500000  3595.000000
2021-06-17  1630.500000  5153.000000  17320.000000  2873.000000  3531.000000

                 9984.T
Date
2020-06-17  5017.303935
2020-06-18  5256.885717
2020-06-19  5437.814773
2020-06-22  5397.055755
2020-06-23  5401.032336
...                 ...
2021-06-11  7947.000000
2021-06-14  7991.000000
2021-06-15  7985.000000
2021-06-16  7968.000000
2021-06-17  7800.000000

[245 rows x 29 columns]

In [145]:
_high = high.copy()
_low = low.copy()
val_zeroday = _closes.iloc[-121:-120,:] #基準の終値

_val_high = _high.iloc[-120:-100,:]
val_high = pd.concat([val_zeroday,_val_high])

_val_low = _low.iloc[-120:-100,:]
val_low = pd.concat([val_zeroday,_val_low])

test_zeroday = _closes.iloc[-21:-20,:] #基準の終値
_test_high = _high.iloc[-20:,:]
test_high = pd.concat([test_zeroday,_test_high])

_test_low = _low.iloc[-20:,:]
test_low = pd.concat([test_zeroday,_test_low])

In [162]:
(test_low.iloc[:5,:].min() / test_zeroday).T

Date    2021-05-20
3382.T    0.985264
4063.T    0.999451
4452.T    0.998380
4502.T    0.988301
4503.T    0.977488
4568.T    0.974491
6098.T    1.000000
6367.T    0.997120
6501.T    1.000000
6594.T    0.995110
6758.T    0.995227
6861.T    0.992407
6954.T    1.000000
6981.T    0.991337
7203.T    1.000000
7267.T    0.994532
7741.T    1.000000
7974.T    1.000000
8001.T    0.995385
8031.T    0.995396
8058.T    0.993668
8306.T    0.973413
8316.T    0.980740
8411.T    0.986111
8766.T    0.967352
9022.T    0.979424
9432.T    1.000000
9433.T    0.986949
9984.T    0.965647

In [170]:
test_zeroday

,3382.T,4063.T,4452.T,4502.T,4503.T,4568.T,6098.T,6367.T,6501.T,6594.T,...,8031.T,8058.T,8306.T,8316.T,8411.T,8766.T,9022.T,9432.T,9433.T,9984.T
Date,,,,,,,,,,,,,,,,,,,,,
2021-05-20,4818.0,18215.0,6791.0,3761.0,1688.0,2626.5,5168.0,20830.0,5410.0,12270.0,...,2389.0,2921.5,631.900024,3998.0,1692.0,5299.0,15795.0,2858.0,3678.0,8500.0

In [181]:
df_val = pd.DataFrame()
df_val['zeroday_price'] = val_low.iloc[0,:].T
df_val['label_low_5'] = (val_low.iloc[:5,:].min() / test_zeroday).T
df_val['label_low_10'] = (val_low.iloc[:10,:].min() / test_zeroday).T
df_val['label_low_20'] = (val_low.iloc[:20,:].min() / test_zeroday).T

df_val['label_high_5'] = (val_high.iloc[:5,:].max() / test_zeroday).T
df_val['label_high_10'] = (val_high.iloc[:10,:].max() / test_zeroday).T
df_val['label_high_20'] = (val_high.iloc[:20,:].max() / test_zeroday).T

df_test = pd.DataFrame()
df_test['zeroday_price'] = test_low.iloc[0,:].T
df_test['label_low_5'] = (test_low.iloc[:5,:].min() / test_zeroday).T
df_test['label_low_10'] = (test_low.iloc[:10,:].min() / test_zeroday).T
df_test['label_low_20'] = (test_low.iloc[:20,:].min() / test_zeroday).T

df_test['label_high_5'] = (test_high.iloc[:5,:].max() / test_zeroday).T
df_test['label_high_10'] = (test_high.iloc[:10,:].max() / test_zeroday).T
df_test['label_high_20'] = (test_high.iloc[:20,:].max() / test_zeroday).T

In [182]:
df_val

,zeroday_price,label_low_5,label_low_10,label_low_20,label_high_5,label_high_10,label_high_20
3382.T,3552.112305,0.715110,0.715110,0.715110,0.742181,0.762688,0.824622
4063.T,16964.470703,0.921537,0.921537,0.921537,0.961047,1.001919,1.072220
4452.T,7667.717285,1.120998,1.120998,1.120998,1.148053,1.187748,1.187748
4502.T,3793.162842,0.970312,0.958605,0.932592,1.016616,1.016616,1.016616
4503.T,1520.946533,0.891670,0.891670,0.891670,0.911862,0.945223,0.978584
4568.T,3319.356689,1.240665,1.240665,1.240665,1.310433,1.375273,1.424565
6098.T,4185.741211,0.793519,0.793519,0.793519,0.821135,0.849524,0.900700
6367.T,21478.154297,1.031116,1.031116,1.031116,1.081106,1.123919,1.152860
6501.T,4160.749023,0.727374,0.725545,0.725545,0.779878,0.779878,0.804393
6594.T,12776.236328,0.998567,0.998567,0.998567,1.046544,1.074191,1.186815
6758.T,10228.558594,0.952097,0.945241,0.945241,1.005515,1.005515,1.034081
6861.T,54850.886719,1.023211,1.023211,1.023211,1.059964,1.119451,1.119451
6954.T,25606.439453,0.999292,0.996098,0.996098,1.031431,1.033227,1.110480
6981.T,8798.729492,1.047725,1.047725,1.047725,1.082750,1.144075,1.291932
7203.T,7784.835449,0.874574,0.874574,0.863331,0.900467,0.911937,0.911937
7267.T,3029.156982,0.858893,0.851724,0.836019,0.920157,0.920157,0.920157
7741.T,13896.914062,0.961886,0.961886,0.954183,0.994801,1.016161,1.016161
7974.T,65264.851562,0.996605,0.996605,0.994265,1.041239,1.041239,1.051071
8001.T,2887.432373,0.868988,0.868988,0.868988,0.891480,0.906222,0.965644
8031.T,1881.468140,0.762243,0.762243,0.762243,0.789407,0.790642,0.834063
8058.T,2542.401123,0.844756,0.840901,0.840565,0.872585,0.872585,0.912652
8306.T,438.749847,0.687667,0.687667,0.687667,0.718213,0.718213,0.793259
8316.T,3081.168945,0.749657,0.749657,0.749657,0.789987,0.789987,0.881159
8411.T,1287.444336,0.743568,0.743568,0.743568,0.773034,0.773034,0.837742
8766.T,5137.975586,0.955716,0.955716,0.955716,0.977765,0.999629,1.056512
9022.T,14081.799805,0.853061,0.853061,0.853061,0.894058,0.931902,0.940417
9432.T,2628.375732,0.906237,0.902109,0.902109,0.921720,0.939267,0.972984
9433.T,2971.717041,0.804495,0.804495,0.804495,0.816794,0.833905,0.881496
9984.T,8333.758789,0.919883,0.887961,0.887961,1.001919,1.001919,1.029382

In [183]:
df_test

,zeroday_price,label_low_5,label_low_10,label_low_20,label_high_5,label_high_10,label_high_20
3382.T,4818.000000,0.985264,0.967414,0.967414,1.019925,1.019925,1.047115
4063.T,18215.000000,0.999451,0.999451,0.999451,1.039528,1.067801,1.082624
4452.T,6791.000000,0.998380,0.957738,0.955824,1.018701,1.018701,1.020174
4502.T,3761.000000,0.988301,0.952672,0.952672,1.018878,1.018878,1.018878
4503.T,1688.000000,0.977488,0.977488,0.977488,1.005332,1.099526,1.159953
4568.T,2626.500000,0.974491,0.919855,0.898153,1.023415,1.023415,1.023415
6098.T,5168.000000,1.000000,1.000000,1.000000,1.105650,1.118228,1.128483
6367.T,20830.000000,0.997120,0.997120,0.955593,1.026164,1.065771,1.065771
6501.T,5410.000000,1.000000,1.000000,1.000000,1.058226,1.090758,1.158965
6594.T,12270.000000,0.995110,0.995110,0.988998,1.029340,1.042787,1.047677
6758.T,10475.000000,0.995227,0.995227,0.995227,1.041050,1.059189,1.059189
6861.T,52680.000000,0.992407,0.992407,0.992407,1.024298,1.042331,1.081435
6954.T,24855.000000,1.000000,1.000000,1.000000,1.050895,1.072621,1.116274
6981.T,8196.000000,0.991337,0.985359,0.985359,1.018790,1.060517,1.060517
7203.T,8665.000000,1.000000,1.000000,1.000000,1.038430,1.112291,1.192152
7267.T,3292.000000,0.994532,0.994532,0.994532,1.032503,1.070474,1.112697
7741.T,14230.000000,1.000000,0.977512,0.949754,1.050597,1.050597,1.050597
7974.T,62680.000000,1.000000,1.000000,0.988673,1.082482,1.091257,1.102425
8001.T,3250.000000,0.995385,0.988308,0.988308,1.021846,1.030154,1.048923
8031.T,2389.000000,0.995396,0.995396,0.995396,1.024906,1.060486,1.102553
8058.T,2921.500000,0.993668,0.993668,0.993668,1.013520,1.051515,1.062810
8306.T,631.900024,0.973413,0.973413,0.951416,1.004273,1.008546,1.012818
8316.T,3998.000000,0.980740,0.980740,0.971236,1.014007,1.014007,1.022761
8411.T,1692.000000,0.986111,0.983747,0.954492,1.013002,1.013002,1.014184
8766.T,5299.000000,0.967352,0.965088,0.961125,1.004340,1.004340,1.005284
9022.T,15795.000000,0.979424,0.979424,0.979424,1.032289,1.089902,1.168408
9432.T,2858.000000,1.000000,0.980406,0.980406,1.027642,1.041987,1.041987
9433.T,3678.000000,0.986949,0.969821,0.969821,1.013322,1.024198,1.024198
9984.T,8500.000000,0.965647,0.939176,0.934941,1.023412,1.023412,1.023412